body{
    margin: 0;
    padding: 0;
    background-color: rgb(20, 16, 16);
}
h1{
    color: white;
}
.matrizCircular{
    color: white;
}
.container{
    display: grid;
    place-items: center;
    gap: 20px;
}
.btn-recargar,
.btn-info,
.btn-efecto{
    background: none;
    border: none;
    background-color: rgb(15, 15, 255);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}
.btn-info:hover,
.btn-recargar:hover,
.btn-efecto:hover{
    background-color: rgb(82, 82, 252);
}
.item-matriz{
    padding: 2px;
}
.active{
    background-color: rgb(20, 16, 16);
    animation-name: pulso;
    animation-duration: 1s;
    animation-timing-function: linear;
}
@keyframes pulso{
    0%{
        background-color: rgb(20, 16, 16)
    }
    50%{
        background-color: rgb(15, 15, 255);
    }
    100%{
        background-color: rgb(20, 16, 16)
    }
}
.form{
    display: flex;
}
.form h2{
    color: white;
}
.margin-giron,
.margin-esquina{
    display: flex;
    margin: 0 5px 0 5px;
}
.inputNumber{
    width: 40px;
    height: 20px;
}
.content-item{
    display: grid;
    place-items: center;
}
.center{
display: grid;
place-items: center;
}